@charset "utf-8";
/*公共样式*/
.loginBody .layui-input-focus .layui-input::-webkit-input-placeholder{transition: color 0.2s linear 0.2s;-webkit-transition: color 0.2s linear 0.2s;}
.loginBody .layui-input-focus .layui-input::-moz-placeholder{transition: color 0.2s linear 0.2s;}
.loginBody .layui-input-focus .layui-input:-ms-input-placeholder{transition: color 0.2s linear 0.2s;}
.loginBody .layui-input-focus .layui-input::placeholder{transition: color 0.2s linear 0.2s;-webkit-transition: color 0.2s linear 0.2s;}
/*登录*/
.loginHtml,.loginBody{ height:100%;}
.loginBody{background-color:#00A1e7; background-image:url("../images/bg_logo.png"); background-repeat:no-repeat; background-size:600px; background-position:left 20% center;}
.loginBody form.layui-form{ padding:0 20px; width:300px; height:330px; position:absolute; right:20%; top:50%; margin-top:-165px; -webkit-box-sizing:border-box;-moz-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; background:#fff;-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; box-shadow:0 0 25px #2f363c;}
.login_face{ margin:-55px auto 20px; width:100px; height:100px; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; border:5px solid #fff; overflow:hidden;box-shadow:0 0 15px #2f363c;}
.login_face img{ width:100%;}
.loginBody .layui-form-item{ position:relative;}
.loginBody .layui-form-item label{ position:absolute; color:#757575; left:10px; top:9px; line-height:20px; background:#fff; padding:0 5px; font-size:14px; cursor:text;}
.loginBody .layui-form-item.layui-input-focus label{ top:-10px; font-size:12px; color:#ff6700;}
.loginBody .layui-form-item.layui-input-active label{ top:-10px; font-size:12px;}
.loginBody .layui-form-item.layui-input::-webkit-input-placeholder{color:#fff;}
.loginBody .layui-form-item.layui-input::-moz-placeholder{color:#fff;}
.loginBody .layui-form-item.layui-input:-ms-input-placeholder{color:#fff;}
.loginBody .layui-form-item.layui-input::placeholder{color:#fff;}
.loginBody .layui-input-focus input{border-color:#00A1e7 !important;box-shadow: 0 0 0 2px rgb(121, 210, 255,0.3);}
.loginBody .layui-input-focus .layui-input::-webkit-input-placeholder{color:#757575;}
.loginBody .layui-input-focus .layui-input::-moz-placeholder{color:#757575;}
.loginBody .layui-input-focus .layui-input:-ms-input-placeholder{color:#757575;}
.loginBody .layui-input-focus .layui-input::placeholder{color:#757575;}
.loginBody .seraph{ font-size:30px; text-align:center;}
.loginBody .seraph.icon-qq:hover{ color:#0288d1;}
.loginBody .seraph.icon-wechat:hover{ color:#00d20d;}
.loginBody .seraph.icon-sina:hover{ color:#d32f2f;}
.loginBody .link{width:100%; height:24px; line-height: 24px; padding-bottom: 10px; text-align: right;}
.loginBody .link .layui-link{color:#01aaed;}
.loginBody .code{position:absolute; width:36px; height: 36px; line-height: 36px; padding: 0 5px; top:1px; right:1px; cursor:pointer; background-color: #fafafa; text-align: center; border-left: 1px solid #eee;}
.loginBody .layui-input-focus .code{border-left: 1px solid #00A1e7;}
.imgCode{ position:relative;}
#imgCode img{ position:absolute; top:1px; right:1px; cursor:pointer; }
.login .layui-input-wrap{margin-bottom: 15px;}
.register .layui-input-wrap{margin-bottom: 10px;}